<ion-view view-title="Lookup Information" align-title="center">
<ion-nav-buttons side="right">
<a ng-href="/#/app/lookup-edit-value"><button class="button button-dark">Add</button></a>
</ion-nav-buttons> 

    <ion-pane>
     <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item " href="/#/app/lookup-edit-detail-edit/{{col.name}}" ng-repeat="col in listArray[0].payload.data">
               <h3 ng-bind="col.name"></h3>
               <div class="row lookup-list">
                <div class="col" ><p ng-bind="col.connector"></p></div>
                 <div class="col" ><p ng-bind="col.value"></p></div>
                </div>
           <ion-option-button class="button button-assertive icon ion-trash-a" ng-click="onItemDelete(col)"></ion-option-button>
        </ion-list>
     </ion-content>
    </ion-pane>

</ion-view>
