<ion-view view-title="User " align-title="center">
<ion-nav-buttons side="right">
 <a ng-href="/#/app/filter-users"><button class="button icon ion-funnel"></button></a>
  <a ng-href="/#/app/add-users"><button class="button button-dark">Add</button></a>
</ion-nav-buttons> 

<ion-spinner icon="bubbles" class="spinner-balanced" ng-hide="loading == 'Done'"></ion-spinner> 

	<ion-pane ng-show="loading == 'Done' ">
	   <ion-content>
	      <ion-list show-delete="false" can-swipe="true" ng-show="listArray.length">
            <ion-item class="item " ng-href="/#/app/edit-users/{{col.id}}" ng-repeat="col in listArray[0].payload.data"><!-- ng-repeat="col in listArray[0].payload.data" -->
                <h3 ng-bind="(col.firstName)+ ' ' +(col.lastName)"></h3>
    		    <p ng-bind="col.email"></p>
                <!--  Item {{item.id}} -->
                <ion-option-button class="button button-assertive icon ion-trash-a" ng-click="onItemDelete(col.id)"></ion-option-button>
                <ion-option-button class="button button-positive icon ion-ios-clock" ng-click="onItemSuspend(col)"></ion-option-button>
                <ion-option-button class="button button-royal icon ion-unlocked" ng-click="resetpassword(col)"></ion-option-button>
            </ion-item>
           <!--  <ion-infinite-scroll distance="2" on-infinite="loadMoreData()"  ng-if="!moredata" ></ion-infinite-scroll> -->
	      </ion-list>

    
            <div class="list" ng-show="!listArray.length">
                <label class="item item-input item-floating-label">
                   <h3 style=" text-align: center;">Looks like you don't have any Record.</h3>
                    <h4 style=" text-align: center;">Fortunatly, it's very easy to create one.</h4>
                    <a ng-href="/#/app/add-users"><button class="button button-block button-positive" ng-click="validate()" style="margin-left: -6px;">Add</button><a>
                </label>
            </div>

	   </ion-content>
    </ion-pane> 
</ion-view>
