
.btn-margin{
	margin-bottom: 25px;
}
.btn-menu-dashboard{
	margin-top:20px;
	margin-bottom:20px;
	font-size:100px;
}
.tab-adjust{
	margin-top:-45px;
}
.tabs-top.tabs-striped {
	padding-bottom: 93px;

}

