<!DOCTYPE html>
<html ng-app="vxl-mobile">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic/js/datepicker-style.css" rel="stylesheet"> 
    <link href="css/style.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="lib/ionic/css/bootstrap.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="css/pe-icon-7-stroke/css/helper.css"/>
    <link href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="lib/toastr.min.css">

  </head>

  <body ng-controller="globalCtrl">
    <ion-nav-view></ion-nav-view>

    
  <!-- Javascript imports -->
    <link href="lib/ion-autocomplete.min.css" rel="stylesheet">
  <!-- Ionic -->
  <script src="lib/ionic/js/ionic.js"></script>
  <!-- <script src="lib/ionic/js/ionic-angular.min.js"></script> -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic/js/templates.min.js"></script>
  <!-- <script src="lib/ionic/js/autocomplete.directive.js"></script> -->
  <script src="lib/ionic/js/ionic-datepicker.min.js"></script>

  <script src="lib/jquery/dist/jquery.min.js"></script>
 <!--  <script src="lib/jquery/dist/ui-bootstrap-tpls.js"></script> -->

  <!-- Cordova -->
  <script src="cordova.js"></script>
  
    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  <!-- OC Lazy Load -->
  <script src="lib/oc-lazy-load/ocLazyLoad.min.js"></script>
  <!-- Config -->
  <script src="js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <!-- Global Controller -->
 <script src="lib/ion-autocomplete.min.js"></script> 
  <script src="components/js/globalController.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="lib/bootbox.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <script src="lib/socket-min.js"></script>
  <!-- Menu -->  
  <script src="modules/menu/config.js"></script>

  <!-- Dinein -->
  <script src="modules/dinein/config.js"></script>
  <!-- Order -->
  <script src="modules/order/config.js"></script>
  <!-- kitchen -->
  <script src="modules/kitchen/config.js"></script>
   <!-- user -->
  <script src="modules/administration/user/config.js"></script>
  <!-- group -->
  <script src="modules/administration/groups/config.js"></script>
  <!-- role -->
  <script src="modules/administration/role/config.js"></script>
  <!-- alert -->
  <script src="modules/administration/alert/config.js"></script>
  <!-- email -->
  <script src="modules/administration/email/config.js"></script>
  <!-- template-->
  <script src="modules/administration/template/config.js"></script>
  <!-- backup-->
  <script src="modules/administration/backup/config.js"></script>
  <!-- authentication-->
  <script src="modules/administration/authentications/config.js"></script>
  <!-- single-signon-->
  <script src="modules/administration/single-signon/config.js"></script>
  <!-- setting-->
  <script src="modules/administration/setting/config.js"></script>
  <!-- license-->
  <script src="modules/administration/license-management/config.js"></script>
  <!-- lookup-->
  <script src="modules/advanced-tools/lookup/config.js"></script>
  <!-- integration-->
  <script src="modules/advanced-tools/mapping/config.js"></script>
  <!-- mapping-->
  <script src="modules/advanced-tools/connector/config.js"></script>
  <!-- connector-->
  <script src="modules/advanced-tools/integration/config.js"></script>
  <!-- agent-->
  <script src="modules/advanced-tools/agent/config.js"></script>

  
  </body>
</html>

<script id="logout-confirm.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-positive">
      <h1 class="title">Confirm Logout</h1>
        <button class="button button-clear pull-right" ng-click="closeModal()"><ion-icon name="close"></ion-icon></button> 
    </ion-header-bar>
    <ion-content>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col col-offset-5">
          <h3>You are about to logout <b><i class="title"></i></b> from the system.</h3>
                <p>Do you want to proceed?</p>
        </div>
        <div class="col">
          <button type="button" id="del" class="button button-assertive pull-right" ng-click="logoutConfirm()">Logout</button>
        </div>
    </ion-content>

  </ion-modal-view>
</script>