<!-- <html ng-app="vxl-mobile">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>VXL Login</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
     <link href="css/style.css" rel="stylesheet"> 
  </head>

  <body ng-controller="loginCtrl">

   

   <ion-modal-view >
      <ion-header-bar>
        <h3 class="title" style="text-align: center;">Sign Up</h3>
      </ion-header-bar>

   
    <ion-content >
        <div class="list">

          <label class="item item-input item-floating-label">
            <span class="input-label">Your Name </span>
            <input type="text" ng-model="signup.name" placeholder="Your Name">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Your Email Address</span>
            <input type="text" ng-model="signup.email"  placeholder="Your Email Address">
          </label>

           <label class="item item-input item-floating-label">
            <span class="input-label">Your User Name</span>
            <input type="text" ng-model="signup.username"  placeholder="Your User Name">
          </label>

           <label class="item item-input item-floating-label">
            <span class="input-label">Your New Password</span>
            <input type="password" ng-model="signup.password"  placeholder="Your New Password">
          </label>

           <label class="item item-input item-floating-label">
            <span class="input-label">Your Company</span>
            <input type="text" ng-model="signup.company"  placeholder="Your Company">
          </label>

           <label class="item item-input item-floating-label">
            <span class="input-label">Your Website</span>
            <input type="text" ng-model="signup.website"  placeholder="Your Website">
          </label>

          <div class="item item-toggle">
             I agree to the <b><a href="">Terms of Service.</a></b>
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="user.enableuser">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
   
           <button class="button button-block button-positive" type="button" ng-click="validation()">Sign Up</button>
           <button class="button button-block button-dark" type="button" ng-click="cancel()">Cancel</button>

        </div>
    </ion-content>
  </ion-modal-view> 

  </body>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/oc-lazy-load/ocLazyLoad.min.js"></script>
   <script src="app.js"></script>
    <script src="components/js/login.js"></script>
 </html>

 -->