<ion-view view-title="Group" align-title="center">
<ion-nav-buttons side="right">
     <a ng-href="/#/app/filter-groups"><button class="button icon ion-funnel"></button></a>
     <a ng-href="/#/app/add-groups"><button class="button button-dark">Add</button></a>
 </ion-nav-buttons>  

    <ion-spinner icon="bubbles" class="spinner-balanced" ng-hide="loading == 'Done'"></ion-spinner> 

	<ion-pane ng-show="loading == 'Done'">
	   <ion-content ng-show="listArray.length">
	      <ion-list show-delete="false" can-swipe="true" >
            <ion-item class="item" ng-href="/#/app/edit-groups/{{col.id}}" ng-repeat="col in listArray[0].payload.data">
                <h3 ng-bind="col.name"></h3>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="onItemDelete(col.id)"></ion-option-button>
                <ion-option-button class="button-positive icon ion-ios-photos-outline" ng-click="onItemClone(col.id)"></ion-option-button>
            </ion-item>
	      </ion-list>
	   </ion-content>

        <div class="list" ng-show="!listArray.length" style="margin-top: 42px;">
            <label class="item item-input item-floating-label">
               <h3 style=" text-align: center;">Looks like you don't have any Record.</h3>
                <h4 style=" text-align: center;">Fortunatly, it's very easy to create one.</h4>
                <a ng-href="/#/app/add-groups"><button class="button button-block button-positive" ng-click="validate()" style="margin-left: -6px;">Add</button><a>
            </label>
        </div>

    </ion-pane> 
</ion-view>