<ion-view view-title="Add Domain" align-title="center">
<ion-nav-buttons side="right">
 </ion-nav-buttons>  
<ion-content>
	<div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Name</span>
	    <input type="text" placeholder="Name" ng-model="setting.name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Description</span>
	    <textarea  placeholder="Description"  ng-keyup="autoExpand($event)"></textarea>
	  </label>
	  
	  <div class="item item-toggle">
	     Enabled
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	  
	</div>
		
</ion-content>
	<ion-footer-bar  class="bar-light" >
		<button class="button button-block button-positive" ng-click="">Create</button>
	</ion-footer-bar>
</ion-view>
