<ion-view view-title="Edit Email" align-title="center">
<ion-nav-buttons side="right">
  <button class="button icon ion-trash-a" ng-click="onItemDelete()"></button>
</ion-nav-buttons>  

	<ion-spinner icon="bubbles" class="spinner-balanced" ng-hide="loading == 'Done'"></ion-spinner>

	<ion-content ng-show="loading == 'Done'">
		<div class="list">
		 
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Name</span>
		    <input type="text" placeholder="Name" ng-model="email.name">
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Description</span>
		    <textarea  placeholder="Description" ng-model="email.description" ng-keyup="autoExpand($event)"></textarea>
		  </label>
		 
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Server Name</span>
		    <input type="text" placeholder="Server Name" ng-model="email.servername">
		  </label>
		
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Host Name</span>
		    <input type="text" placeholder="Host Name" ng-model="email.hostname">
		  </label>
		
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Port No</span>
		    <input type="text" placeholder="Port No" ng-model="email.portno">
		  </label>
		
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="Email" ng-model="email.email">
		  </label>
		 
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Sender Name</span>
		    <input type="text" placeholder="Sender Name" ng-model="email.sendername">
		  </label>
		  
		  <label class="item item-input item-floating-label ">
		    <span class="input-label">Password</span>
		    <input type="password" placeholder="Password" ng-model="email.password">
		  </label>

		   <label class="item item-input item-floating-label btn-margin">
		    <span class="input-label">Confirm Password</span>
		    <input type="password" placeholder="Confirm Password" ng-model="email.cnfpassword">
		  </label>
		 
		  <label class="item" style="border: none;">
		    <!-- <button class="button button-outline button-block button-positive"> Test Email</button> -->
		    <a ng-href="/#/app/test-email"><button class="button button-outline button-block button-positive"> Test Email</button></a>
		  </lable>

		</div>

	</ion-content>
	<ion-footer-bar  class="bar-light">
		<button class="button button-block button-positive" ng-click="validate()">Save</button>
	</ion-footer-bar>
</ion-view>
