<ion-view view-title="Summary" align-title="center">
<ion-nav-buttons side="right">
</ion-nav-buttons> 
	<ion-content>

	<div class="list">
	  <label class="item item-input item-floating-label"> Name 
	  	<p>asdfasfasfasfasfasfasfss</p></label>

	  	 <label class="item item-input item-floating-label"> Description 
	  	<p>asdfasfasfasfasfasfasfss</p></label>

	  	 <label class="item item-input item-floating-label"> Connector 
	  	<p>asdfasfasfasfasfasfasfss</p></label>

	  	 <label class="item item-input item-floating-label"> Request 
	  	<p>asdfasfasfasfasfasfasfss</p></label>

	  	 <label class="item item-input item-floating-label"> Null value Representation 
	  	<p>asdfasfasfasfasfasfasfss</p></label>

	  	 <label class="item item-input item-floating-label"> Subject Area 
	  	<p>asdfasfasfasfasfasfasfss</p></label>
	</div>
		
	</ion-content>
	<ion-footer-bar  class="bar-light">
		<button class="button button-block button-positive"  ng-click="validate()">Create</button>
	</ion-footer-bar>
</ion-view>
