
.btn-margin{
	margin-bottom: 25px;
}
.btn-menu-dashboard{
	margin-top:20px;
	margin-bottom:20px;
	font-size:100px;
}
.tab-adjust{
	margin-top:-45px;
}
.tabs-top.tabs-striped {
	padding-bottom: 93px;

}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.email-switch{
	   margin-left: -24px;
    margin-bottom: -22px;
    margin-top: -9px;
}
.backup-switch{
   margin-left: -24px;
    margin-bottom: -25px;
     margin-top: -9px;
}

.checkbox-adjst{
        margin-top: -22px;
}

.bar-footer {
   height: 70px;
}
.lookup-list{
      margin-left: -8px;
    margin-bottom: -15px;
    margin-top: -4px;
}


.spinner svg {
  width: 18% !important;
  height: 630px !important;
  margin-left: 150px; 
}

@media (min-width: 992px) and (max-width: 1199px){   
     #logo {
    
    margin-top: 11%;
    margin-left: 35%;
  }
  .devlogo{
    margin-left: 87%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {      
   #logo {
    
    margin-top: 11%;
    margin-left: 36%;
  }
  .devlogo{
    margin-top: 45%;
    margin-left: 46%;
  }
  .dev{
    margin-left: -5%
  }
}
} 
@media only screen and (max-width: 767px){      
      #logo {
    
    margin-top: 11%;
    margin-left: 35%;
  }
  .devlogo{
    margin-left: 87%;
  }
}
@media only screen and (max-width: 640px) {    
     #logo {
    
    margin-top: 11%;
    margin-left: 31%;
  }
  .devlogo{
    margin-left: 84%;
  }
}
@media only screen and (max-width:568px) {
  #logo {
    
    margin-top: 11%;
    margin-left: 28%;
  }
  .devlogo{
    margin-left: 81%;
  }
}
@media only screen and (max-width:480px) {
  #logo {
    
    margin-top: 10%;
    margin-left: 25%;
  }
  .devlogo{
    margin-left: 77%;
  }
}
@media only screen and (max-width:414px) {
  #logo {
    
    margin-top: 0%;
    margin-left: 23%;
  }
  .devlogo{
    margin-top: 45%;
    margin-left: 40%;
  }
  .dev{
    margin-left: -5%
  }
}
@media only screen and (max-width:384px) {
  #logo {
    
    margin-top: 3%;
    margin-left: 20%;
  }
  .devlogo{
    margin-top: 45%;
    margin-left: 40%;
  }
  .dev{
    margin-left: -8%
  }
}
@media only screen and (max-width:320px) {
  #logo {
    position: relative;
    margin-top: 0%;
    margin-left: 40px;
  }
  .devlogo{
    margin-top: 45%;
    margin-left: 40%;
  }
  .dev{
    margin-left: -8%
  }
}
@media only screen and (max-width:274px) {
  #logo {
    position: relative;
    margin-top: 16%;
    margin-left: 17px;
  }
  .devlogo{
    margin-left: 60%;
  }
  .dev{
    margin-left: -6%
  }
}